.welcome-tile {
  background: #282B7A;
  background-image: url('../../assets/dimondBck.png');
  color: azure;
  }

  .test-list-tile[class]{
    background: linear-gradient(50deg,#8ef9fe,#263238);
    color: azure;
  }

   .section-card{
    width: 250px;
    margin: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 5px 5px 50px black;
    border-radius: 5px;
  }

.javascript-card[class]{
  background: linear-gradient(50deg,#2ec6ff,#303f9f);
}
.react-card[class]{
  background: linear-gradient(50deg,#c5d429,#2e7d32);
}
.angular-card[class]{
  background: linear-gradient(50deg,#ff9e80,#d50000);
  
}
.node-card[class]{
  background: linear-gradient(50deg,#ffba3a,#e65100)
}