<mat-grid-list cols="1" rowHeight="400px">
  <mat-grid-tile class="welcome-tile">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h1>Welcome to Programming Quiz</h1>
      <h2>Are you ready to test your skills?</h2>
      <p>Explore more for quiz</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="test-list-tile">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card class="javascript-card section-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          JavaScript
        </mat-card-title>
        <mat-card-content>
          Take a test
        </mat-card-content>
      </mat-card>
      <mat-card class="angular-card section-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          Angular
        </mat-card-title>
        <mat-card-content>
          Take a test
        </mat-card-content>
      </mat-card>
      <mat-card class="react-card section-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          React.js
        </mat-card-title>
        <mat-card-content>
          Take a test
        </mat-card-content>
      </mat-card>
      <mat-card class="node-card section-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title>
          Node.js
        </mat-card-title>
        <mat-card-content>
          Take a test
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>